* {
  margin: 0;
  padding: 0;
}

.cards-title {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.cardsList {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px;
  
  list-style: none;
  perspective: 1000px;
}

